<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<form method="post">
    <div>
        {{error}}
    </div>
    <div>
        {% for error in form.user.errors%}
        {{error}}
        {% endfor %}
    </div>
    <div>
        Usuario:
        {{form.user(required="")}}
    </div>
    <div>
        {% for error in form.email.errors%}
        {{error}}
        {% endfor %}
    </div>
    <div>
        E-mail
        {{form.email(required="")}}
    </div>
    <div>
        {% for error in form.password.errors%}
        {{error}}
        {% endfor %}
    </div>
    <div>
        Password
        {{form.password(required="")}}
    </div>
    <input type="submit" value="Enviar">
</form>


</body>
</html>