<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registros</title>
    <link href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css'" rel="stylesheet">
    <script type="text/javascript" src="../static/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../static/jquery.twbsPagination.min.js"></script>
    <script>
    $(function() {
        $('#pagination').twbsPagination({
            totalPages: 35,
            visiblePages: 7,
            href: '?page={{"\{"}}'
        });
    });
    </script>
</head>
<body>


<form action="csv">
    <input name="dateIni" type="hidden" value="{{dateIni}}">
    <input name="dateEnd" type="hidden" value="{{dateEnd}}">
    <input type="submit" value="Exportar CSV">
</form>
<table>

    <tr>
        <th>Fecha</th>
        <th>Dato1</th>
        <th>Dato2</th>
        <th>Dato3</th>
    </tr>
    {% for registro in registros%}
    <tr>
        <td>{{registro.fecha}}</td>
        <td>{{registro.dato1}}</td>
        <td>{{registro.dato2}}</td>
        <td>{{registro.dato3}}</td>
    </tr>
    {% endfor %}
</table>

<ul id="pagination" class="pagination-sm"></ul>


</body>
</html>